<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.social.Github }}
      <li><a href="http://github.com/{{ .Site.Params.social.Github }}"><i class="fa fa-github"></i></a></li>
    {{ end }}

    {{ if .Site.Params.social.Email }}
      <li><a href="mailto:{{ .Site.Params.social.Email }}"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.social.Twitter }}
      <li><a href="http://twitter.com/{{ .Site.Params.social.Twitter }}"><i class="fa fa-twitter"></i></a></li>
    {{ end }}

    {{ if .Site.Params.social.LinkedIn }}
      <li><a href="http://linkedin.com/in/{{ .Site.Params.social.LinkedIn }}"><i class="fa fa-linkedin"></i></a></li>
    {{ end }}

  </ul>
</div>
