{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container"> 
      	<div class="col-md-3">
			  <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" class="me">
  			<h1>{{ .Site.Params.author }}</h1>
        <p>
          <a href="{{ .Site.Params.website_full }}">{{ .Site.Params.website }}</a>
        </p>
        <br/>
  			<p>
				  <a href="mailto:{{ .Site.Params.social.Email }}">{{ .Site.Params.social.Email }}</a> <br/>
			    <a href="http://github.com/{{ .Site.Params.social.Github }}"><i class="fa fa-github"></i>&nbsp;Github</a> /
			    <a href="http://twitter.com/{{ .Site.Params.social.Twitter }}"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
        </p>
        </div>
        <div class="col-md-9" style="text-align: left;">
          {{ partial "resume/employment" . }}
          {{ partial "resume/education" . }}
          {{ partial "resume/skills" . }}
          {{ partial "resume/hobbies" . }}
        </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
